/*-------------------------------全局控制--------------------------------*/
body {
	margin: 0;
	padding:0;
	font-family: Verdana,"宋体", Arial,Sans;
	font-size:14px;
}
script {
display: none;
}
*{
	margin: 0;
	padding:0;
}
.hidden {
display: none;
}
h2{
	margin: 0 ;
	padding:0;
}
.container{
	padding:0;
	width:1000px;
	margin-top:10px;
	border:1px solid #ff99ff;
}
.glyphicon{
	color:#ff99ff;
	font-size:20px;
}
.clear{
	clear:both;
}
.clear-margin-top{
	margin-top:0px;
}
.clear-margin-right{
	margin-right:0px;
}
button{
	background:#FF6699;
}
p{ text-indent:2em; padding:0px; margin:0px; }
/* button的样式自定义 */
.button-caution{
	background:#FF6699 repeat-x;
 	cursor:hand;
}
.button-caution:link{
	background:#FF6699 repeat-x;
}
.button-caution:hover{
	background:#FF6699 repeat-x;
}
.button-caution:action{
	background:#FF6699 repeat-x;
}
.button-caution:visited{
	background:#FF6699 repeat-x;
}
#wish-button{
	margin:50px 50px 0px 90px;
}
 a:visited{
	text-decoration:none;
 }	
a:hover{
	list-style-type:none;
}
a:active{
	color:#212121;
	}
ul{
	list-style:none;
}
ul li{
	line-height:1.6;
	list-style-type:none;
}
.pagination ul li a:hover{
	background:#FF6699;
}
.pagination{
		margin: 0;
		padding:0;
		margin-right:20px;
		margin-bottom: 10px;
		margin-top: 10px;
		float:right;
}
.pull-left{
	float:left;
	width:700px;
}
.pull-right{
	width:290px;
	margin-left:8px;
}
.panel{
	margin: 0;
	padding:0;
	border-color:#FF99FF;
}
.panel-body{
	margin: 0;
	padding:0;
}
.panel-body ul li span{
	margin-left:15px;
}
.panel-body input{
	margin-left:5px;
}
.index-block-height{
	height:200px;
}
.index-big-height{
	height:306px;
}
.panel-heading{
	background:#FFCCFF;
	color:#428BCA;
} 
.panel-heading span{
	float:right;
	color:#428BCA;
}
.panel-heading span a{
	color:#428BCA;
}
#myTab{
	background:#FFccff;
}

#myTab li a{
	background:#FFccff;
}
#myTab li a:link{
	background:#FFccff;
}

#myTab li a:hover{
	background:#FF6699;
	border:1px solid red;
}

#myTab li a:visited{
	background:#FF6699;
	
}
.top30{
	margin-top:30px;
}
/*------------------------------头和尾--------------------------------*/
header#header{
height:58px;
position:relative;
}
header#header nav.navbar{
border:0;
margin:0;
height:58px;
-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.15),0 1px 5px rgba(57,57,57,0.075);
box-shadow:inset 0 1px 0 rgba(255,255,255,0.15),0 1px 5px rgba(57,57,57,0.075);
background:#FF99FF;
margin:0 auto;
height:58px;
font-weight:bold;
}
header#header nav.navbar:before,header#header nav.navbar:after{
content:" ";
display:table;
}
header#header nav.navbar:after{
clear:both
}
header#header nav.navbar:before,header#header nav.navbar:after{
content:" ";display:table
}
header#header ul.nav>li{
	text-align: center;
}
header#header ul.nav>li>a{
height:58px;

line-height:58px;
padding-top:0;
padding-bottom:0
}
header#header ul.nav>li>a:hover{
color:#fff;
background:#FF6699;
}
header#header ul.nav>li>a:focus{
background:none
}
header#header ul.nav>li.divider-vertical{
border-style:solid;
border-width:1px;
opacity:.5;
height:58px;
border-left-color:#111415;
border-right-color:#646668
}
#header_me{
margin-right:10px;
}
/*++++++++++++分享+++++++++++++++++++*/
/* 
#bdshare img {
border: 0;
margin: 0;
padding: 0;
cursor: pointer;
}
#bdshare {
_overflow-x: hidden;
z-index: 999999;
padding-bottom: 2px;
font-size: 12px;
float: left;
text-align: left!important;
zoom: 1;
}
#bdshare_l, #bdshare_m {
-webkit-box-shadow: 0 0 7px #eee;
-moz-box-shadow: 0 0 7px #eee;
z-index: 99999;
}
#bdshare_l {
width: 212px;
position: absolute;
top: 0;
background: #fff;
text-align: left;
}
#bdshare_l_c {
width: 210px;
float: left;
border: 1px solid #e9e9e9;
text-align: left;
}
#bdshare h6, #bdshare_s h6 {
width: 100%;
font: 14px/22px '宋体';
text-indent: .5em;
font-weight: 700;
border-top: 1px solid #fbfbfb;
border-bottom: 1px solid #f2f1f1;
background-color: #f6f6f6;
float: left;
padding: 5px 0;
margin: 0;
}
#bdshare ul, #bdshare_s ul {
width: 98%;
float: left;
padding: 8px 0;
margin-left: 2px;
overflow: hidden;
}
#bdshare_l_c ul li {
width: 47%;
height: 26px;
float: left;
margin: 2px;
}
#bdshare_l_c ul li a {
background: url(./Public/Img/is.png?cdnversion=20131219) no-repeat;
height: auto!important;
}
#bdshare p, #bdshare_s p {
width: 100%;
height: 21px;
font: 12px '宋体';
border-top: 1px solid #f2f1f1;
background-color: #f8f8f8;
float: left;
padding: 0;
margin: 0;
}
#bdshare_l_c p a.goWebsite, #bdshare_m_c p a.goWebsite, #bdshare_pop p a.goWebsite {
text-align: right;
background: url(../images/pi.gif?cdnversion=20120720) no-repeat 0 center;
line-height: 16px;
padding-left: 12px;
color: #8c8c8c;
}
#bdshare p a, #bdshare_s p a {
width: auto;
text-align: right;
float: right;
padding: 0 5px;
} */
/* ++++++++++++分享iframe end+++++++++++ */

/*友情链接*/
#link{
	font-size:18px;
}
.friend{
	text-align:center;
	line-height:1.2;

}
.friend a span{
	margin-left:20px;
	width:100px;
}
/*尾*/
footer{
width:100%;
background:#FF99FF;
}

/*------------------------------首页--------------------------------*/
#yao-wrap{
}

/*---------图片轮换+许愿瓶----------*/
#ifocus-news{

}
#ifocus { 	
	height:245px;
    border:1px solid #DEDEDE;
    background:#F8F8F8;
	 }
.item{
		margin: 0;
		padding:0;
		width:698px;
		height:245px;
}	 
.item div.carousel-caption p{
	position: absolute;
	margin-top:25px;

}

.item img{
	width:698px;
	height:245px;
}
#wishing-layout{
	width:290px;
	height:245px;
	border:1px solid #ff99ff;
	/*  background:url(Public/Img/Home/wishing.png) no-repeat center 280px; */
}
.wishing-form{
	display:none;
	padding-left:30px;
	padding-top:10px;
}
/*---同校恋情+活动-----*/ 
.boxgrid{ 
	width: 125px; 
	height: 140px; 
	margin:7px; 
	float:left; 
	background:#E8E8FF; 
	border: solid 2px #ff99ff; 
	overflow: hidden; 
	position: relative; 
}
.boxgrid img{ 
		position: absolute; 
		top: 0; 
		left: 0; 
		border: 0; 
	}
.boxgrid p{ 
		padding: 0 10px; 
		color:#afafaf; 
		font-weight:bold; 
		font:10pt "Lucida Grande", Arial, sans-serif; 
}
#activity div.panel{
width:290px;
height:170px;
float:left;
}
.tab-content li{
	line-height:1.8;
	list-style-type:none;
	margin-left:5px;
}

#constellation{
	margin-top:7px;
}
#constellation div.panel{
height:174px;
}

/*----------中部图片---------*/
.ad img{
	width:1000px;
}

/*----------民族风情和心情语录---------*/
#nation{
}
#Causerie{
}
#Causerie div.panel{
width:290px;
height:351px;
}
.Causerie-model{
 	border:1px solid #E8E8E8 ;
	line-height:1;
	height:104px;
}
.Causerie-photo{
	float:left;
	width:84px;
	height:84px;
	border:1px solid #ff99ff;
}
.Causerie-photo img{
	width:84px;
	height:94px;
}
.Causerie-container{
	width:200px;
	float:left;
}
.Causerie-container p{
	margin:auto;
}
.Causerie-discuss{
	height:20px;
	margin-top:50px;
}
#praise{float:left;}
#attention{	float:right;}
.Causerie-text-layout{height:30px; line-height:35px;}
/*-------------------留学生+ 爱情攻略-------------------------*/
#international{
width:700px;
float:left;
}
.international-people{
	float:left;
}
.international-people img{
	width:130px;
	height:130px;
}
#Finally{
width:290px;
height:183px;
float:left;
margin-left:8px;
}
#Finally div.panel{
width:290px;
height:197px;
}

.Finally_list{
	margin-left:10px;
}
.Finally_list span{
	float:right;
	margin-right:10px;
}

/*-------------------牵手恋人+投票-------------------------*/

#success{
width:700px;
float:left;
}
.success-style{
	float:left;
	width:348px;
}
#success img{
width:188px;
height:198px;
}
.success-photo{
	float:left;
}
.success-people{
	float:left;
	width:140px;
	
}



#vote div.panel{
width:290px;
height:243px;
}
/*------------------首页结束------------------*/
/*------------------login start------------------  */
.login{
	height:500px;
	width:300px;
	margin-left: auto;
	margin-right: auto;
	
}
.forgetpass{
	height:500px;
	width:300px;
}
#header_me .glyphicon{
	color:red;
}
#header_me .dropdown-menu li span{
	margin:10px;
}
.login-layout{
	height:200px;
	width:300px;
}
.modal-header{
	width:300px;
}
.modal-header ul{
	width:300px;
	margin-left:0px;
}
#login-footer{
	width:300px;
}
#loginTab{
	width:280px;
}
.third-login span{
	float:left;
}
.third-login div{
	clear:both;
}
.tab-foot .tab-foot-left{float:left;}
.tab-foot .tab-foot-right{float:right;}
/*login end  */
/*reg start  */
.myerror { float: none;color:red;vertical-align: top;  padding-left: 0em; }
.headphoto-body{
	height:300px;
}
.localphoto{
	padding-top:100px;
	margin-left: auto;
	margin-right: auto;
	magin-bottomt: 12px;
}
.Headphoto-foot{
	width:100%;
	height:100px;
}
#nextStep{
	display:block;
	float:right;
}
.index-body{
	width:1000px;	
	margin-left: auto;
	margin-right: auto;
}
.reg-body{
	width:550px;
	margin-left: auto;
	margin-right: auto;
}
.index-site{
	display:block;
}
.welcome{
	padding-top:0px;
}
.welcome h3{
	margin-top:0px;
	display:block;
	float:left;
}
.right-login{
	display:block;
	float:right;
}
.reg-margin{
	padding:0;
	border:1px solid #ff99ff;
}
.bg-horizontal{
	clear:both;
	border: 1px dashed #ff99ff; width: 100%; height: 3px;
}


/*reg end  */
/*------------------------------search start--------------------------------*/
hr,panel{
	margin: 0;
	padding:0;
}
.moresearch{
	margin-left:30px;
}
.f20{
	font-size:20px;
	margin-left:15px;
}
.base{
	float:left;
}
.base hr{
	width:1000px;
	border:1px solid #BCE8F1;
}
/* .moresearch li{
	display: inline;
	position: relative;
	width: 199px;
} */
.advsearchbtn{
	float:right;
}
.search-head-conditions{
width:1000px;
float:left;
}
#suform-constellation{
	width:150px;
}
#search-select{
width:100px;
float:center-left;
}
.fitem {
	display: inline;
	float: left;
	text-indent:0;
	margin-left:5px;
}
.fitem input{
	margin-right:10px;
}
.fitem .title{
	padding-left:0px;
	font-size:15px;
	font-weight:normal;
}
.moresearch .fitem {
	width:200px;
	display: inline;
	float: left;
	text-indent:0;
	margin-right:40px;
}
.moresearch select {
	width: 110px;
}
.moresearch input {
	width: 110px;
}
/*------------------------------search完--------------------------------*/

/*----------------民族风情-----------------*/
#nation-centre{
	
}

#carousell{
		width:700px;
	height:245px;
}
#carousell img{
	width:700px;
	height:245px;
}
#nation-left{
	
}
#nation-left div.panel{
	
}
.nation-people{
	float:left;
	width: 125px; 
	height: 140px; 
	margin:7px; 
	float:left; 
	background:#E8E8FF; 
	border: solid 2px #ff99ff; 
	overflow: hidden; 
	position: relative;	
}
.top10{
	margin-top:10px;
}
/*-------------同城-------------------*/
#city-centre{
	
}
#city-left{
	
}
#city-left div.panel{
	
}
.city-people{
	float:left;
	width: 125px; 
	height: 140px; 
	margin:7px; 
	float:left; 
	background:#E8E8FF; 
	border: solid 2px #ff99ff; 
	overflow: hidden; 
	position: relative;	
}
/*详细页面  */
.mbtnwrap {
margin-top: 10px;
text-align: center;
}
/*  .mbtnwrap .button-mesg-red {
margin-left: 0;
}
.button-gift {
background: #eadfdf;
color: #8e5a5c;
} */
/*---------------------牵手恋人-----------------------*/
.success-weight img{
	width:190px;
	height:229px;
}
.top20{
	margin-top:20px;
}
/* ------------------爱情之语 start-----------------*/
#article-layout{
	float:left;
	width:700px;
}
#classify{
float:left;
}
.article-list{
	margin-bottom: 30px;
}
.article-discuss-title{float:right;}
.article-discuss-layout{margin-top:20px;}
.article-detail-title{margin-bottom:30px;margin-left:20px;}
.article-detail-foot{margin-left:20px;margin-top:20px;}
.bottom-20{margin-bottom:20px;}
.pre{float:left;margin-right:400px;}
/* 爱情之语 end*/

/*-------------个人中心---------------*/
#person-head{
	height:110px;
	border:1px solid #ff99ff;
}
#person-head img{
	width:100px;
	height:90px;
}
.img-left{
}
.img-right{
	float:left;
}
/* .person-name{
	margin-right:70px;
	float:right;
} */
.person-power{
	margin-top:55px;
	float:right;
}
#person-nav{
width:230px;
height:150px;
	border:1px solid #ff99ff;
}

#person-nav li{
		border:1px solid #ff99ff;
		float:left;
		width:76px;
		height:74px;

}
.right-Recommend img{
	width:66px;
	height:66px;
	margin-left:5px;
}
#say{
	width:768px;
	height:140px;
}
#publish-mood{
	margin: 0;
	padding:0;
	border:1px solid #ff99ff;
	font-size:18px;
	resize:none;
	line-height:1.2;	
	height:70px;
	width:500px;
}
 .say-left{
	width:500px;
	float:left;
}
.say-right{
	width:258px;
	margin-left:4px;
	float:left;
	height:140px;
	border:1px solid #ff99ff;
}
.myhome-qiandao{
	float: left;
	padding: 10px;
	text-align: center;
	color: #808080;
	line-height: 30px;
}
.btn_7 {
	text-align: center;
	cursor: pointer;
	color: #ffffff;
	width: 76px;
	height: 32px;
	border: none;
	font-weight: normal;
	font-size: 14px;
	line-height: 32px;
	font-family: "Microsoft YaHei","微软雅黑","宋体";
}
.miniblog-button {
	width: 50px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	cursor: pointer;
	float:right;
	text-indent:0;
}
#post_limit{
	float:left;
}
.button-set{
	width:500px;
	height:44px;
	border:1px solid #ff99ff;
	background-color: #F6F6F6;
	padding: 5px;
	text-align: right;
}
#person-center-left{
	float:left;
	width:231px;
}
.no-vip {
	display: inline-block;
	width: 25px;
	height: 13px;
	background-position: 0px 0px;
	overflow: hidden;
}
.account-name{
	text-indent:0;
}
.jiujiubi{
	height: 24px;
	overflow: hidden;
}
#shengji{
	color:red;
}
.jiujiubi span{
	margin-left:15px;
}
#person-center-right{
	float:left;
	width:758px;
	margin-left:3px;
	border:1px solid #ff99ff;
}
#person-intro{
	
}
#person-nav ul li{
	text-align: center;
}
.tablestyle{
	width:758px;
}
.numfloat{
	position:absolute;margin-top:-10px;margin-left:25px;background:url(upload/2009/12/200912291555291306.gif);width:21px;height:13px
	/* position: absolute;
	left: 38px;
	top: 5px;
	cursor: pointer;
	display: inline;
	float: right;
	font-weight: normal;
	background: #d83473;
	color: #fff;
	font-size: 14px;
	padding: 0 4px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px; */
}
.mood-layout{
	border:1px solid #ff99ff;
	height:120px;
}
.mood-layout img{
	width:113px;
	 height:113px;
	 float:left;
}
.mood-content{
	height:80px;
}
.friend-mood{
	height:auto!important;
     height:700px;
     min-height:700px;
	width：766px;
	border:1px solid #ff99ff;
}
.mood-username{
	height:40px;
}
.mood-username span{
	float:right;
}
#col {
	width: 750px;
	margin: 20px auto 0 auto;
	padding-bottom: 50px;
}
ul.thumb {
	width: 750px;
	list-style: none;
	margin: 0 auto; 
	padding: 10px 0 10px 10px;
	
}
#pg { 
	position: relative; 
	height: 555px; 
	background: #E2E6EE; 
}
#pg li { 

	width: 230px; 
	height: 204px; 
	position: relative; 
	list-style: none; 
	overflow: hidden; 
	float: left; 
	margin: 0 5px 10px 0; 
	z-index: 2; 
	opacity: 0.6; 
	filter:alpha(opacity=60); 
	cursor: pointer;
}
#pg li.active { 
	opacity: 1; 
	filter: alpha(opacity=100);
}
#pg li.selected { 
	opacity: 1; 
	filter: alpha(opacity=100); 
	z-index: 99; 
	-moz-box-shadow: 0px 0px 10px #fff; 
	-webkit-box-shadow: 0px 0px 10px #fff; 
}
#pg li img { 
	display: block; 
	width: 100%;
	height:100%;
}
#pg li p { 
	color: #000; 
	margin: 4px 0 5px 0; 
	font-size: 12px;
}
/*约会  */
#page-pdate {
padding-top: 20px;
}
.page-w {
margin-top: -1px;
}
.paper {
background: #fff;
border: 1px solid #e6e1e2;
margin-left: auto;
margin-right: auto;
-moz-box-shadow: 0 1px 0 rgba(230,225,226,0.4);
-webkit-box-shadow: 0 1px 0 rgba(230,225,226,0.4);
box-shadow: 0 1px 0 rgba(230,225,226,0.4);
width: 948px;
}
.uinfosec {
border-bottom: 1px dotted #f0f0f0;
overflow: hidden;
-zoom: 1;
padding: 20px;
}
.uinfosec .diwrap {
display: inline;
float: left;
font-size: 14px;
margin-left: 20px;
min-height: 139px;
height: auto!important;
height: 139px;
position: relative;
width: 763px;
}
.portrait .pr {
display: inline-block;
vertical-align: top;
}
::selection {
background: #c70067;
color: #fff;
}
.papershadow {
background: url("http://photo.idate.163.com/static/cdn20140904121234/v2/images/papershadow.png") no-repeat 0 0;
margin-left: auto;
margin-right: auto;
clear: both;
overflow: hidden;
}
.papershadow2 {
background-position: 0 -12px;
height: 8px;
width: 946px;
}
.papershadow1 {
margin-bottom: -10px;
height: 10px;
width: 980px;
}
step1 .plansec .fitem-themelist {
padding: 10px 0 20px;
}
step1 .plansec .fitem-themelist .themelist {
display: inline;
float: left;
overflow: hidden;
}
step1 .plansec .fitem-themelist .themelist li {
border: 4px solid #fff;
display: inline;
float: left;
position: relative;
text-align: center;
}
step1 .plansec .fitem-textarea {
display: inline;
float: left;
margin-bottom: 20px;
position: relative;
}
step1 .demandsec {
margin-top: 20px;
}
/* 约会结束 */
/* 充值 */
.chargeblock .contentwrap {
padding: 20px 20px 14px;
}
.chargeblock .tabrow {
background: #f0edeb;
border-bottom: 1px solid #cdcbca;
_border-bottom: 0;
height: 36px;
}
ul.tabwrap {
overflow: hidden;
-zoom: 1;
font-size: 14px;
}
.chargeblock .tabrow .tabwrap .active {
background: #fff;
border-left: 1px solid #cdcbca;
border-right: 1px solid #cdcbca;
border-top: 3px solid #d83473;
height: 22px;
margin-left: -1px;
padding: 6px 0;
}
charge .wordicon, #page-charge .wordicon {
background: #fbb300;
color: #fff;
font-size: 12px;
font-weight: normal;
padding: 0 2px 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
}
.chargeblock .tabrow .tabwrap .tab-w4 {
width: 80px;
}
.chargeblock .tabrow .tabwrap .inactive {
background: #f0edeb;
border-bottom: 1px solid #cdcbca;
height: 20px;
padding: 10px 0 6px;
}
.chargeblock .contentwrap .steptitle {
border-bottom: 1px dotted #e4e2df;
margin-bottom: 10px;
padding-bottom: 8px;
}
.chargeblock .contentwrap .fitem {
padding: 6px 0;
}
.chargeblock .contentwrap .step-bank {
margin-top: 24px;
}

/* 充值 end*/
/*==========个人中心end==============  */
/*==========会员详细页面==============  */
.detail-photo img{
	width:200px;
	height:180px;
}
.person-detail-head{height:250px;}
.photo-foot{clear:both;width:200px;}
.person-detail-left{width:200px;height:250px;float:left;}
.person-detail-right{height:250px;}
.person-detail-right h4{margin-top:0px;color:red;}
.person-detail-right h4 span{margin-left:10px;font-size:15px;}
.person-detail-content{clear:both;}
.sign{height:120px;}
.detailinfo{height:100px;}
.detailinfo li {
border-bottom: 1px dotted #e9e9e9;
display: inline;
float: left;
font-size: 14px;
padding: 4px 0 4px 30px;
position: relative;
width: 199px;
}
.txt {
color: #555;
padding: 16px 20px;
}
.infotitle{clear:both;}
.pcontent hr{
	color: #e9e9e9;
	background-color: #e9e9e9;
	height: 1px;
}
.pcontent h4 {
	display: block;
	color:red;
	font-size: 1.5em;
	-webkit-margin-before: 0.83em;
	-webkit-margin-after: 0.83em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}
/*==========会员详细页面end==============  */
/*==========activity detail start==============  */
.activities-foot{
	margin-top:10px;
}
.activities-foot-content{
	padding:0px 10px 10px 10px;
	color:#454545;
	line-height:20px;
}
.title{
	
}
/*==========activity detail endt==============  */
/*==========升级服务开始==============  */
.panel .control-margin{
	margin-top:30px;
	margin-bottom:30px;
	width:600px;
	margin-left:auto;
	margin-right:auto;
	background-color:#FFFCF0;
}
.margin-bottom-30{
	margin-bottom:30px;
	height:20px;
}


/*==========升级服务结束==============  */
/*========================  */

