/*-------------------------------全局控制--------------------------------*/
*{
	margin: 0;
	padding:0;
}
body {
	margin: 0;
	padding:0;
}

ul{
	list-style:none;
}
ul li{
	line-height:1.6;
}
ul li:hover{
	font-weight: bold;
}
.container{
	padding:0px ;
	width:1000px;
	margin-top:10px;

}
.panel{
	margin: 0;
	padding:0;
}

header{
	margin: 0;
	padding:0;	
}
nav{
	margin: 0;
	padding:0;
}
.panel-heading{
	background:url(__IMG__/Home/title_yellow.png);
} 
.panel-heading span{
	float:right;
}
.panel-heading span a{
	color:#3C763D;
}
.panel-heading span a:hover{
text-decoration:underline;
}
/* 右浮动 */
.pull-right {
 	float: right;
	width:290px;
	height:500px;
	margin-left:8px;
}
/* 左浮动 */
.pull-left {
float: left !important;
width:700px;
height:500px;
float:left;
}
/*------------------------------头和尾--------------------------------*/
header#header{
height:58px;
background:#A4133C;
position:relative;
}
header#header nav.navbar{
border:0;
margin:0;
height:58px;
-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.15),0 1px 5px rgba(57,57,57,0.075);
box-shadow:inset 0 1px 0 rgba(255,255,255,0.15),0 1px 5px rgba(57,57,57,0.075);
background:#A4133C;
margin:0 auto;
height:58px;
/* font-size:18px; */
}
header#header nav.navbar:before,header#header nav.navbar:after{
content:" ";
display:table;
}
header#header nav.navbar:after{
clear:both
}
header#header nav.navbar:before,header#header nav.navbar:after{
content:" ";display:table
}
header#header ul.nav>li>a{
height:58px;
line-height:58px;
padding-top:0;
padding-bottom:0
}
header#header ul.nav>li>a:hover{
color:#fff;
background:none
}
header#header ul.nav>li>a:focus{
background:none
}
header#header ul.nav>li.divider-vertical{
border-style:solid;
border-width:1px;
opacity:.5;
height:58px;
border-left-color:#111415;
border-right-color:#646668
}
#header_me{
margin-right:10px;
}
/*友情链接*/
#link{
	font-size:18px;

}
.friend{
	text-align:center;
	line-height:2.0;

}
.friend a span{
	margin-left:20px;
	width:100px;

}
/*尾*/
footer{
width:100%;
background:#A4133C;
}

/*------------------------------首页--------------------------------*/
#yao-wrap{
}
#ad-news{

}
#carousell img{
width:1000px;
height:333px;
}
.ad{
float:left;
width:1000px;
height:333px;
}
.recommend{
float:left;
	width:700px;
	margin:0px;
	padding:0px;
}
.news div.panel{
width:290px;
height:333px;
margin-left:8px;
float:left;
}
.panel-body{
	margin: 0;
	padding:0;
}

#imgPlay {
	MARGIN: 8px auto; OVERFLOW: hidden; WIDTH: 600px; ZOOM: 1; POSITION: relative; HEIGHT: 304px
}
#imgPlay .imgs IMG {
	BORDER-RIGHT: #dbdbdb 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #dbdbdb 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #dbdbdb 1px solid; WIDTH: 956px; PADDING-TOP: 1px; BORDER-BOTTOM: #dbdbdb 1px solid
}
#imgPlay .imgs LI {
	FLOAT: left; POSITION: relative
}
#imgPlay .imgs {
	WIDTH: 5760px
}
#imgPlay .btn {
	RIGHT: 12px; OVERFLOW: hidden; WIDTH: 112px; BOTTOM: 12px; TEXT-INDENT: -9999px; POSITION: absolute; HEIGHT: 29px;
}
#imgPlay .btn A {
	BACKGROUND: url(../images/bg.png) no-repeat;BACKGROUND-POSITION: 0px 0px; DISPLAY: block; WIDTH: 112px; HEIGHT: 29px;
}
#imgPlay .btn A:hover {
	BACKGROUND: url(../images/bg.png) no-repeat;BACKGROUND-POSITION: 0px -30px;
}
#imgPlay .prev {
	BACKGROUND: url(../images/imgPlayer.png) no-repeat 0px 0px; LEFT: 1px; WIDTH: 46px; CURSOR: pointer; TEXT-INDENT: -9999px; POSITION: absolute; TOP: 110px; HEIGHT: 81px
}
#imgPlay .next {
	BACKGROUND: url(../images/imgPlayer.png) no-repeat 0px 0px; LEFT: 1px; WIDTH: 46px; CURSOR: pointer; TEXT-INDENT: -9999px; POSITION: absolute; TOP: 110px; HEIGHT: 81px
}
#imgPlay .next {
	BACKGROUND-POSITION: right 0px; RIGHT: 1px; LEFT: auto
}
#imgPlay .num {
	DISPLAY: inline; LEFT: 400px; POSITION: absolute; TOP: 275px; HEIGHT: 19px
}
#imgPlay .num SPAN {
	DISPLAY: inline-block; BACKGROUND: url(../images/imgPlayer.png) no-repeat -19px -83px; MARGIN: 0px 2px; OVERFLOW: hidden; WIDTH: 14px; CURSOR: pointer; LINE-HEIGHT: 0; HEIGHT: 13px
}
#imgPlay .num SPAN.on {
	BACKGROUND-POSITION: 1px -83px
}
#imgPlay .num .lc {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/lc.png) no-repeat; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 13px; PADDING-TOP: 3px; HEIGHT: 16px
}
#imgPlay .num .mc {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/lc.png) no-repeat; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 13px; PADDING-TOP: 3px; HEIGHT: 16px
}
#imgPlay .num .rc {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/lc.png) no-repeat; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 13px; PADDING-TOP: 3px; HEIGHT: 16px
}
#imgPlay .num .mc {
	BACKGROUND: url(../images/mc.png) repeat-x
}
#imgPlay .num .rc {
	BACKGROUND: url(../images/rc.png) no-repeat
}
#imgPlay #numInner {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; PADDING-TOP: 3px; POSITION: absolute; TOP: 275px; TEXT-ALIGN: center
}

/*站长推荐*/
#choose{
margin-top:5px;
}
.choose-people{
margin:4px 4px 0px 0px;
float:left;
}
/*<!--同校+投票-->*/

#oneschool{
width:700px;
height:316px;
float:left;
}
.oneschool-people{
float:left;
}
.oneschool-people img{
width:132px;
height:132px;
}
#vote{
width:290px;
float:left;
margin-left:8px;
}
#vote div.panel{
width:290px;
height:316px;
}


/*留学生+爱情攻略*/
#international{
width:700px;
float:left;
}
.international-people{
	float:left;
}
.international-people img{
	width:130px;
	height:130px;
}
#international div.panel{
width:700px;
height:183px;
}

#Finally{
width:290px;
height:183px;
float:left;
margin-left:8px;
}
#Finally div.panel{
width:290px;
height:183px;
}

.Finally_list{
	margin-left:10px;
}
.Finally_list span{
	float:right;
	margin-right:10px;
}
/*<!--成功案例+星座匹配-->*/
#success{
width:700px;
float:left;
}
.success-style{
	float:left;
	width:345px;
	height:200px;
	border:1px solid red;
}
#success img{
width:150px;
height:150px;
}
#constellation{
width:290px;
float:left;
margin-left:8px;
}
#constellation div.panel{
width:290px;
height:175px;
}
#search-word{
	float:left;
	width:290px;
	height:60px;
	margin-left:8px;
	margin-top:3px;
}
#search-word div.panel{
width:290px;
height:63px;
}

/*会员+心情*/

#vip-feel{

}
#vip{
width:700px;
float:left;
}
#vip img{
width:100px;
height:100px;
float:left;
}

#feel{
width:290px;
float:left;
margin-left:8px;
}
#feel div.panel{
width:290px;
height:143px;
}

/*------------------------------首页完--------------------------------*/
hr,panel{
	margin: 0;
	padding:0;
}
.moresearch{
	border-top:1px solid #BCE8F1;
}
.f20{font-size:20px;}
.base{
margin-left:15px;
}
.luck{
margin-left:15px;

}
.word{
margin-left:15px;
height:70px;
}
.condition{
width:120px;
margin-left:3px; 
	border:1px solid red;
float:left;

}
.search-all{
width:1000px;
float:left;
}
#search-select{
width:100px;
float:center-left;
}
/*------------------------------search完--------------------------------*/
/*------------------------------PersonSpace--------------------------------*/
#person-head{
	height:110px;
}
.person-photo img{
	width:100px;
	height:100px;
	float:left;
}
.person-name{
	margin-right:70px;
	float:right;
}
.person-power{
	margin-top:55px;
	float:right;
}
#person-nav{
font-size:15px;
}
.right-Recommend img{
	width:66px;
	height:66px;
	margin-left:5px;
}












