/*-------------------------------全局控制--------------------------------*/
body {
	margin: 0;
	padding:0;
}
*{
	margin: 0;
	padding:0;
}
h2{
		margin: 0 ;
		padding:0;
		
}
.container{
	padding:0;
	width:1000px;
	margin-top:10px;
	border:1px solid #ff99ff;
}
button{
	background:#FF6699;
}
p{ text-indent:2em; padding:0px; margin:0px; }
/* button的样式自定义 */
.button-caution{
	background:#FF6699 repeat-x;
 	cursor:hand;
}
.button-caution:link{
	background:#FF6699 repeat-x;
}
.button-caution:hover{
	background:#FF6699 repeat-x;
}
.button-caution:action{
	background:#FF6699 repeat-x;
}
.button-caution:visited{
	background:#FF6699 repeat-x;
}
#wish-button{
	margin:50px 50px 0px 90px;
}
 a:visited{
	text-decoration:none;
 }	
a:hover{
	list-style-type:none;
}
a:active{
	color:#212121;
	}
ul{
	list-style:none;
}
ul li{
	line-height:1.6;
	list-style-type:none;
}
.pagination ul li a:hover{
	background:#FF6699;
}
.pagination{
		margin: 0;
		padding:0;
		margin-right:20px;
		margin-bottom: 10px;
		margin-top: 10px;
		float:right;
}
.pull-left{
	float:left;
	width:700px;
}
.pull-right{
	width:290px;
	margin-left:8px;
}
.panel{
	margin: 0;
	padding:0;
	border-color:#FF99FF;
}
.panel-body{
	margin: 0;
	padding:0;
}
.panel-body input{
	margin-left:5px;
}
.panel-heading{
	background:#FFCCFF;
	color:#428BCA;
} 
.panel-heading span{
	float:right;
	color:#428BCA;
}
.panel-heading span a{
	color:#428BCA;
}
.panel-heading span a:hover{

}
#myTab{
	background:#FFccff;
}

#myTab li a{
	background:#FFccff;
}
#myTab li a:link{
	background:#FFccff;
}

#myTab li a:hover{
	background:#FF6699;
	border:1px solid red;
}

#myTab li a:visited{
	background:#FF6699;
	
}
.top30{
	margin-top:30px;
}
/*------------------------------头和尾--------------------------------*/
header#header{
height:58px;
position:relative;
}
header#header nav.navbar{
border:0;
margin:0;
height:58px;
-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.15),0 1px 5px rgba(57,57,57,0.075);
box-shadow:inset 0 1px 0 rgba(255,255,255,0.15),0 1px 5px rgba(57,57,57,0.075);
background:#FF99FF;
margin:0 auto;
height:58px;
font-weight:bold;
}
header#header nav.navbar:before,header#header nav.navbar:after{
content:" ";
display:table;
}
header#header nav.navbar:after{
clear:both
}
header#header nav.navbar:before,header#header nav.navbar:after{
content:" ";display:table
}
header#header ul.nav>li{
	text-align: center;
}
header#header ul.nav>li>a{
height:58px;

line-height:58px;
padding-top:0;
padding-bottom:0
}
header#header ul.nav>li>a:hover{
color:#fff;
background:#FF6699;
}
header#header ul.nav>li>a:focus{
background:none
}
header#header ul.nav>li.divider-vertical{
border-style:solid;
border-width:1px;
opacity:.5;
height:58px;
border-left-color:#111415;
border-right-color:#646668
}
#header_me{
margin-right:10px;
}
/*友情链接*/
#link{
	font-size:18px;
}
.friend{
	text-align:center;
	line-height:1.2;

}
.friend a span{
	margin-left:20px;
	width:100px;
}
/*尾*/
footer{
width:100%;
background:#FF99FF;
}

/*------------------------------首页--------------------------------*/
#yao-wrap{
}

/*---------图片轮换+许愿瓶----------*/
#ifocus-news{

}
#ifocus { 	
	height:245px;
    border:1px solid #DEDEDE;
    background:#F8F8F8;
	 }
.item{
		margin: 0;
		padding:0;
		width:698px;
		height:245px;
}	 
.item div.carousel-caption p{
	position: absolute;
	margin-top:25px;

}

.item img{
	width:698px;
	height:245px;
}
#wishing-layout{
	width:290px;
	height:245px;
	border:1px solid #ff99ff;
	/*  background:url(Public/Img/Home/wishing.png) no-repeat center 280px; */
}
.wishing-form{
	display:none;
	padding-left:30px;
	padding-top:10px;
}
/*---同校恋情+活动-----*/ 
.boxgrid{ 
	width: 125px; 
	height: 140px; 
	margin:7px; 
	float:left; 
	background:#E8E8FF; 
	border: solid 2px #ff99ff; 
	overflow: hidden; 
	position: relative; 
}
.boxgrid img{ 
		position: absolute; 
		top: 0; 
		left: 0; 
		border: 0; 
	}
.boxgrid p{ 
		padding: 0 10px; 
		color:#afafaf; 
		font-weight:bold; 
		font:10pt "Lucida Grande", Arial, sans-serif; 
}
#activity div.panel{
width:290px;
height:195px;
float:left;
}
.tab-content li{
	line-height:1.8;
	list-style-type:none;
	margin-left:5px;
}

#constellation{
	margin-top:7px;
}
#constellation div.panel{
height:150px;
}

/*----------中部图片---------*/
.ad img{
	width:1000px;
}

/*----------民族风情和心情语录---------*/
#nation{
}
#Causerie{
}
#Causerie div.panel{
width:290px;
height:351px;
}
.Causerie-model{
 	border:1px solid #E8E8E8 ;
	line-height:1;
	height:104px;
}
.Causerie-photo{
	float:left;
	width:84px;
	height:84px;
	border:1px solid #ff99ff;
}
.Causerie-photo img{
	width:84px;
	height:94px;
}
.Causerie-container{
	width:200px;
	float:left;
}
.Causerie-container p{
	margin:auto;
}
.Causerie-discuss{
	height:20px;
	margin-top:50px;
}
#praise{float:left;}
#attention{	float:right;}
.Causerie-text-layout{height:30px; line-height:35px;}
/*-------------------留学生+ 爱情攻略-------------------------*/
#international{
width:700px;
float:left;
}
.international-people{
	float:left;
}
.international-people img{
	width:130px;
	height:130px;
}
#Finally{
width:290px;
height:183px;
float:left;
margin-left:8px;
}
#Finally div.panel{
width:290px;
height:197px;
}

.Finally_list{
	margin-left:10px;
}
.Finally_list span{
	float:right;
	margin-right:10px;
}

/*-------------------牵手恋人+投票-------------------------*/

#success{
width:700px;
float:left;
}
.success-style{
	float:left;
	width:348px;
}
#success img{
width:188px;
height:198px;
}
.success-photo{
	float:left;
}
.success-people{
	float:left;
	width:140px;
	
}



#vote div.panel{
width:290px;
height:243px;
}
/*------------------首页结束------------------*/
/*login start  */
.login{
	height:500px;
	width:300px;
}
.forgetpass{
	height:500px;
	width:300px;
}
.login-layout{
	height:200px;
	width:300px;
}
.modal-header{
	width:300px;
}
.modal-header ul{
	width:300px;
	margin-left:0px;
}
#login-footer{
	width:300px;
}
#loginTab{
	width:280px;
}
.third-login span{
	float:left;
}
.third-login div{
	clear:both;
}
.tab-foot .tab-foot-left{float:left;}
.tab-foot .tab-foot-right{float:right;}
/*login end  */
/*reg start  */
.myerror { float: none;color: red;vertical-align: top;  padding-left: 0em; }
/*reg end  */
/*------------------------------首页完--------------------------------*/
hr,panel{
	margin: 0;
	padding:0;
}
.moresearch{
	border-top:1px solid #BCE8F1;
}
.f20{font-size:20px;}
.base{
margin-left:15px;
}
.luck{
margin-left:15px;

}
.word{
margin-left:15px;
height:70px;
}
.condition{
width:120px;
margin-left:3px; 
	border:1px solid red;
float:left;

}
.search-all{
width:1000px;
float:left;
}
#search-select{
width:100px;
float:center-left;
}
/*------------------------------search完--------------------------------*/
/*------------------------------PersonSpace--------------------------------*/
#person-head{
	height:110px;
}
.person-photo img{
	width:100px;
	height:100px;
	float:left;
}
.person-name{
	margin-right:70px;
	float:right;
}
.person-power{
	margin-top:55px;
	float:right;
}
#person-nav{
width:230px;
height:150px;
	border:1px solid #ff99ff;
}

#person-nav li{
		border:1px solid #ff99ff;
	float:left;
width:76px;
height:74px;

}


.right-Recommend img{
	width:66px;
	height:66px;
	margin-left:5px;
}
/*----------------民族风情-----------------*/
#nation-centre{
	
}

#carousell{
		width:700px;
	height:245px;
}
#carousell img{
	width:700px;
	height:245px;
}
#nation-left{
	
}
#nation-left div.panel{
	
}
.nation-people{
	float:left;
	width: 125px; 
	height: 140px; 
	margin:7px; 
	float:left; 
	background:#E8E8FF; 
	border: solid 2px #ff99ff; 
	overflow: hidden; 
	position: relative;	
}
.top10{
	margin-top:10px;
}
/*-------------同城-------------------*/
#city-centre{
	
}
#city-left{
	
}
#city-left div.panel{
	
}
.city-people{
	float:left;
	width: 125px; 
	height: 140px; 
	margin:7px; 
	float:left; 
	background:#E8E8FF; 
	border: solid 2px #ff99ff; 
	overflow: hidden; 
	position: relative;	
}
/*---------------------牵手恋人-----------------------*/
.success-weight img{
	width:190px;
	height:229px;
}
.top20{
	margin-top:20px;
}
/* ------------------爱情之语 start-----------------*/
#article-layout{
	float:left;
	width:700px;
}
#classify{
float:left;
}
.article-list{
	margin-bottom: 30px;
}
.article-discuss-title{float:right;}
.article-discuss-layout{margin-top:20px;}
.article-detail-title{margin-bottom:30px;margin-left:20px;}
.article-detail-foot{margin-left:20px;margin-top:20px;}
.bottom-20{margin-bottom:20px;}
.next{float:right;}
/* 爱情之语 end*/

/*-------------个人中心---------------*/
#say{
	width:758px;
	height:140px;

}
textarea{
	margin: 0;
	padding:0;
	border:1px solid #ff99ff;
	font-size:18px;
	resize:none;
	line-height:1.2;	
	height:100px;
		width:500px;
}
.say-left{
	width:500px;
	float:left;
}
.say-right{
	width:240px;
	height:100px;
	margin-left:8px;
	float:left;
}

.say-right img{
	width:240px;
	height:100px;
}
.button-set{
	float:left;
}
#person-centre-left{
	float:left;
	width:231px;
}
#person-centre-right{
	float:left;
	width:758px;
	margin-left:3px;
	border:1px solid #ff99ff;
}
#person-intro{
	
}
.tablestyle{
	width:758px;
}

#col {
	width: 750px;
	margin: 20px auto 0 auto;
	padding-bottom: 50px;
}
ul.thumb {
	width: 750px;
	list-style: none;
	margin: 0 auto; 
	padding: 10px 0 10px 10px;
	
}
#pg { 
	position: relative; 
	height: 555px; 
	background: #E2E6EE; 
}
#pg li { 

	width: 230px; 
	height: 204px; 
	position: relative; 
	list-style: none; 
	overflow: hidden; 
	float: left; 
	margin: 0 5px 10px 0; 
	z-index: 2; 
	opacity: 0.6; 
	filter:alpha(opacity=60); 
	cursor: pointer;
}
#pg li.active { 
	opacity: 1; 
	filter: alpha(opacity=100);
}
#pg li.selected { 
	opacity: 1; 
	filter: alpha(opacity=100); 
	z-index: 99; 
	-moz-box-shadow: 0px 0px 10px #fff; 
	-webkit-box-shadow: 0px 0px 10px #fff; 
}
#pg li img { 
	display: block; 
	width: 100%;
	height:100%;
}
#pg li p { 
	color: #000; 
	margin: 4px 0 5px 0; 
	font-size: 12px;
}



